<style>
    .button {
        display: block;
        width: 115px;
        height: 45px;
        background: gold;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: black;
        font-weight: bold;
        line-height: 25px;
        font-size: larger;
        text-decoration: none;
    }

    .button-2 {
        justify-content: end;
        display: block;
        width: 115px;
        height: 45px;
        background: gold;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: black;
        font-weight: bold;
        line-height: 25px;
        text-decoration: none;
    }

    th {
        color: gold;
    }

    .link-style {
        text-decoration: none;
        color: cyan;
    }
</style>

<p style="text-align: center; font-size: 80px; font-weight: bold ;font-family: courier new;">Here are your Results:</p>
<table class="table table-hover table-bordered table-dark">
    <tr>

        <th>Doctor Name</th>
        <th>Specialty</th>
        <th>city</th>
        <th>State</th>
        <!-- <th>Appointments Available</th> -->

    </tr>
    <tr *ngFor="let doctor of doctors">

        <td>{{doctor.doctorName}}</td>
        <td>{{doctor.specialty}}</td>
        <td>{{doctor.location_city}}</td>
        <td>{{doctor.location_state}}</td>
        <!---<td>{{doctor.appointment}}</td>-->


    </tr>


</table>